################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Temp
/Packages
/.utmp
/.vs
/Library
/Logs
/obj/Debug
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Tests.sln
/user.keystore
